@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  background: linear-gradient(rgb(255, 255, 255), antiquewhite);
}
.logo{
  width: 80%;
  display: flex;
  justify-content: center;
  /* background-color: white; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin-bottom: 25px;
}
.logo > img{
  background-color: transparent;
}
.left{
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.right{
  width: 50vw;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  border-radius: 10px;
}

div.container {
  text-align: center;
  padding: 20px 20px;
}
h1{
  font-family: 'Merienda', cursive;
  font-weight: 300;
}
.btn{
  padding: 2rem 4rem;
    background: linear-gradient(-170deg, white 20%, antiquewhite);
    color: black;
    margin: 20px 40px;
    border-radius: 20px;
    font-size: 28px;
    text-decoration: none;
    font-family: 'Merienda', cursive;
    /* font-weight: 200; */
    backdrop-filter: blur(3rem);
    border: 1px solid beige ;
    -webkit-box-shadow: 10px 19px 22px -12px rgba(0,0,0,0.13); 
    box-shadow: 10px 19px 22px -12px rgba(0,0,0,0.13);
}